@import "tailwindcss";

:root {
}

:root.dark {
}

html {
  --bg: #a5c7ff;
  --wave-color: 165 199 255;
}

html.dark {
  --wave-color: 30 30 30;
  --bg: rgb(30 30 30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("@/assets/fonts/genshin_impact.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: "MyFont";
}

.icon {
  width: 18px;
  height: 18px;
}

/* globals.css */
* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.brand-gradient-text {
  color: #6a8aff;
  background-image: linear-gradient(45deg, #6a8aff, #b2fbff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}